.certificates {
    display: block;
    margin-top: 10rem;
    margin-inline: 5rem;
    text-align: center;

    .image {
        display: inline-block;
        margin: 20px;
        
        & > img {
            width: 30rem;
        }
    }

    @media screen and (max-width: 700px) {
        .image {
            margin: 20px;

            & > img {
                width: 40rem;
            }
        }
        margin-inline: 0px;
    }
}