.featuredSection {
    margin-block: 5rem;

    h2 {
        margin-bottom: 3rem;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .project {
            width: 700px;
        }

        .desc {
            .header {
                background: #FFFFFF;
            }
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column;

            .project {
                width: 500px;
            }
        }

        @media screen and (max-width: 550px) {
            .project {
                width: 300px;
            }
        }
    }
}