.Contact {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 999;
    animation: fadeUp 1s ease;

    code {
        opacity: 0.3;
        margin-left: 5px;
    }
    
    .contactList {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    @media screen and (max-width: 700px) {
        width: 100%;
        bottom: 0;
        left: 0;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;

        .contactList {
            gap: 10px;
        }

        code {
            display: none;
        }
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(5rem);
    }
    to {
        transform: translateY(0);
    }
}