.Contact {
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    z-index: 999;

    @media screen and (max-width: 700px) {
        display: none;
    }
}